body {
    font-family: 'Oswald', sans-serif!important;
}

.hidden {
    display: none;
}

/* ======================
    INITIAL SCREEN
====================== */

.applicant-container {
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

input {
    width: 100%;
    border-radius: 50px;
    -webkit-appearance: none;
    border: 1px solid #d6d6d6;
    padding: 10px;
    text-align: center;
}

input:focus {
    outline: none;
}

::-webkit-input-placeholder {
    color: #b8b8b8;
    font-size: 14px;
    font-family: 'Oswald', sans-serif!important;
}

.applicant-input {
    position: relative;
}

.applicant-input span {
    position: absolute;
    top: 4px;
    right: 5px;
    background: #d9d9d9;
    padding: 11px;
    border-radius: 50px;
    font-size: 10px;
    cursor: pointer;
    transition: background 0.3s;
}

.applicant-input span:hover {
    background: #CCCCCC;
}

.applicant-list {
    text-align: center;
    margin-top: 20px;
}

.applicant-list-wrapper span {
    background: #3f51b5;
    color: #fff;
    padding: 1px 10px;
    border-radius: 7px;
    margin-right: 5px;
    transition: background 0.3s;
}

.applicant-list-wrapper span:hover {
    background: #8C0A52;
    cursor: pointer;
}

.button-container {
    margin-top: 20px;
}

.button-container div {
    cursor: pointer;
    border-radius: 27px;
    background: #ccc;
    color: #fff;
    display: block;
    margin: 0 auto;
    width: 120px;
    text-align: center;
    padding: 10px 0;
    cursor: pointer;
    transition: background 0.3s;
}

.button-container div:hover {
    background: #B8B8B8;
}

.error {
    text-align: center;
    color: darkred;
}

/* ======================
    RESULTS SCREEN
====================== */

.results-container {
    position: fixed;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.results-container h3 {
    color: #8C0A52;
}

.results-container div {
    cursor: pointer;
}

.run-again,
.start-again {
    transition: all 0.4s;
}

.run-again:hover,
.start-again:hover {
    letter-spacing: 1px;
}